header{
	display: inline-block;
	width: 100%;
	height: 30px;
	padding-top: 10px;
	padding-right:10px;
	margin-top: 15px;
	
}
#cuadros_google{
	height: 20px;
	width: 20px;
	border: none;;
}
#barra-de-navegacion{
	float: right;
}
.btn-primary{
	border-style: none;
	padding: 2px;
	border-left: 8px !important;

}
#google-central{
	height: 40%;
	width: 40%;
	margin: auto;
	display: block;
	margin-top: 100px;
}
#input-google{
	width: 100%;
	text-align: center;
	
}
input{
	
	box-shadow: 1px 1px 1px 1px color: #666;
	height: 44px;
	width: 428px;

}

#botones-google{
	height: 30px;
	width: 100%;
}

#botones-google-internos{
text-align: center;
margin-right: 30%;
margin-left: 30%;
margin-top: 40px;
border: none;
}
.boton-izquierdo{
	padding: 9px 16px 9px 16px;
	font-weight: bold;

}
.boton-derecho{
	padding: 9px 16px 9px 16px;
	font-weight: bold;
}
.solo-text{
	text-align: center;
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 50px;
}
.boton-derecho:hover{
	border-style: solid;
	border-color: black;
	color: black;
}
	
	.boton-izquierdo:hover{
	border-style: solid;
	border-color: black;
	color: black;
	}
footer{
	display: inline-block;
	width: 100%;
	padding: 10px;
	position: absolute;
	bottom: 0;
	vertical-align: middle;
	margin-bottom: 0px !important;
}
#footer-izquierda{
	float: left;
	vertical-align: middle;
}
#footer-derecha{
	float: right;
	vertical-align: middle;
}
.espaciado-botones{
	padding-left: 7px;
	padding-right: 7px;
	vertical-align: middle;
}
.div-footer{
	vertical-align: middle;
	margin-bottom: 0px;
}

}
body{
	color: #666;
}
.mic-google{
	background-image: url(https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Microphone_1.png);
	vertical-align: middle;
	background-size: 23px;
	background-repeat: no-repeat;
	background-position: right;

}
a:link{
	color: blue;

}
a:hover{
	color: red;
}